@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_Secondary_Layout.cshtml";
}

<p class="lead mb-3">
    <span class="number left">Código @Model.ErrorCode <br /></span>
    <span class="text">Oops! </span>
    <span class="text">@Model.Message</span>
</p>
<p>@Model.Description</p>
<div class="margin-top-30">
    <a href="javascript:history.go(-1)" class="btn btn-round btn-default btn-block">
        <i class="fa fa-arrow-left"></i>
        <span>Voltar</span>
    </a>
    <a href="@Url.Action("Index","Home")" class="btn btn-round btn-primary btn-block">
        <i class="fa fa-tachometer"></i>
        <span>ir para o Dashboard</span>
    </a>
    <a href="@Url.Action("ReportAProblem","Home")" class="btn btn-round btn-danger btn-block">
        <i class="fa fa-times-rectangle"></i>
        <span>Reportar o problema</span>
    </a>
</div>