
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modal-text">Você está prestes a excluir o favorecido . Quer mesmo fazer isso?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-round btn-danger" id="confirmDelete">Excluir</a>
            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Favorecidos
                        <small>
                            Aqui você pode gerenciar seus favorecidos. Favorecidos são pessoas que você fez ou costuma fazer transferências e/ou pagamentos.
                        </small>
                    </h2>
                    <ul class="header-dropdown dropdown">
                        <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">Baixar .csv</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-custom spacing5">
                        <tbody>
                            <tr>
                                <td class="w60">
                                    <img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                </td>
                                <td>
                                    <a href="javascript:void(0);" title="">Jason Porter</a>
                                    <p class="mb-0">+ 264-625-5858</p>
                                </td>
                                <td>
                                    <span>jason-porter@example.com</span>
                                </td>
                                <td>
                                    <span>123 6th St. Melbourne, FL 32904</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Follow</button>
                                    <button class="btn btn-success btn-sm">Message</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="w60">
                                    <img src="../assets/images/xs/avatar6.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                </td>
                                <td>
                                    <a href="javascript:void(0);" title="">Denise Alvarado</a>
                                    <p class="mb-0">+ 264-625-7262</p>
                                </td>
                                <td>
                                    <span>denise-Alvarado@example.com</span>
                                </td>
                                <td>
                                    <span>514 S. Magnolia St. Orlando, FL 32806</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Follow</button>
                                    <button class="btn btn-success btn-sm">Message</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="w60">
                                    <img src="../assets/images/xs/avatar7.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                </td>
                                <td>
                                    <a href="javascript:void(0);" title="">Terry Carter</a>
                                    <p class="mb-0">+ 264-625-9283</p>
                                </td>
                                <td>
                                    <span>Carol-coke@example.com</span>
                                </td>
                                <td>
                                    <span>44 Shirley Ave. West Chicago, IL 60185</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Follow</button>
                                    <button class="btn btn-success btn-sm">Message</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="w60">
                                    <img src="../assets/images/xs/avatar8.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                </td>
                                <td>
                                    <a href="javascript:void(0);" title="">Michelle Schultz</a>
                                    <p class="mb-0">+ 264-625-2233</p>
                                </td>
                                <td>
                                    <span>Michelle-Schultz@example.com</span>
                                </td>
                                <td>
                                    <span>70 Bowman St. South Windsor, CT 06074</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Follow</button>
                                    <button class="btn btn-success btn-sm">Message</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="w60">
                                    <img src="../assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                </td>
                                <td>
                                    <a href="javascript:void(0);" title="">Jason Porter</a>
                                    <p class="mb-0">+ 264-625-5858</p>
                                </td>
                                <td>
                                    <span>jason-porter@example.com</span>
                                </td>
                                <td>
                                    <span>123 6th St. Melbourne, FL 32904</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Follow</button>
                                    <button class="btn btn-success btn-sm">Message</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="w60">
                                    <div class="avtar-pic w35 bg-indigo"><span>DA</span></div>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" title="">Denise Alvarado</a>
                                    <p class="mb-0">+ 264-625-7262</p>
                                </td>
                                <td>
                                    <span>denise-Alvarado@example.com</span>
                                </td>
                                <td>
                                    <span>514 S. Magnolia St. Orlando, FL 32806</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Follow</button>
                                    <button class="btn btn-success btn-sm">Message</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="w60">
                                    <img src="../assets/images/xs/avatar7.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
                                </td>
                                <td>
                                    <a href="javascript:void(0);" title="">Terry Carter</a>
                                    <p class="mb-0">+ 264-625-9283</p>
                                </td>
                                <td>
                                    <span>Carol-coke@example.com</span>
                                </td>
                                <td>
                                    <span>44 Shirley Ave. West Chicago, IL 60185</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Follow</button>
                                    <button class="btn btn-success btn-sm">Message</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="w60">
                                    <div class="avtar-pic w35 bg-pink"><span>MS</span></div>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" title="">Michelle Schultz</a>
                                    <p class="mb-0">+ 264-625-2233</p>
                                </td>
                                <td>
                                    <span>Michelle-Schultz@example.com</span>
                                </td>
                                <td>
                                    <span>70 Bowman St. South Windsor, CT 06074</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Follow</button>
                                    <button class="btn btn-success btn-sm">Message</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" aria-label="Next">
                                <span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>*@

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Favorecidos 
                    <small>
                        Aqui você pode gerenciar seus favorecidos. Favorecidos são pessoas que você fez ou costuma fazer transferências e/ou pagamentos.
                    </small>
                </h2>
                <ul class="header-dropdown dropdown">
                    <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);">Baixar .csv</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 15px;">
                        <a href="@Url.Action("New","Favored")" class="btn btn-success text-white">
                            Novo Favorecido
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    @if(ViewData["favoreds"] != null)
                    {
                        <p class="text-center">@ViewData["favoreds"]. Comece adicionando um no botão "Novo favorecido" localizado acima</p>
                    } else
                    {
                        <table class="table table-hover js-basic-example dataTable table-custom spacing5">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>CPF/CNPJ</th>
                                    <th>Banco</th>
                                    <th>Agência</th>
                                    <th>Conta</th>
                                    <th>Cadastrado em</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nome</th>
                                    <th>CPF/CNPJ</th>
                                    <th>Banco</th>
                                    <th>Agência</th>
                                    <th>Conta</th>
                                    <th>Cadastrado em</th>
                                    <th>Ações</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach(var vm in Model.Favoreds)
                                {
                                <tr>
                                    <td style="display:none;">@vm.Id</td>
                                    <td>@vm.Name</td>
                                    <td id="TaxNumber">@vm.TaxNumber</td>
                                    <td>@vm.Account.Bank</td>
                                    <td>@vm.Account.BankBranch</td>
                                    <td>@vm.Account.BankAccount-@vm.Account.BankAccountDigit</td>
                                    <td>@(vm.CreatedAt == DateTime.MinValue 
                                        ? "--" 
                                        : vm.CreatedAt
                                        .ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                                        .Split(' ')[0])
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit","Favored", new { @vm.Id })" class="btn btn-sm btn-default" title="Editar" data-toggle="tooltip" data-placement="top">
                                            <i class="icon-pencil"></i>
                                        </a>
                                        <a href="@Url.Action("Show","Favored", new { @vm.Id })" class="btn btn-sm btn-default" title="Visualizar" data-toggle="tooltip" data-placement="top">
                                            <i class="icon-eye"></i>
                                        </a>
                                        <button onclick="deleteFavored('@vm.Id', '@vm.Name')" class="btn btn-sm btn-default " title="Excluir" data-toggle="modal" data-target="#deleteConfirmationModal">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>    
</div>

@section Scripts {

    <script>
        function deleteFavored(favoredId, name) {
            $('#modal-title').html('Atenção!');
            $("#confirmDelete").attr("href", "/Favored/Delete/" + favoredId);
            $('#modal-text').html('Você está prestes a excluir o favorecido "' + name + '". Quer mesmo fazer isso?');
        }

        $("#TaxNumber").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });

        $(document).ready(function () {

            $error = '@ViewData["error"]';
            $success = '@ViewData["success"]';

            if($error != null && $error != ''){
                $context = 'error';
                $message = $error;
                $position = 'top-center';

                if ($context === '') {
                    $context = 'info';
                }

                if($message === ''){
                    $message = 'Tudo certo!';
                }

                if ($position === '') {
                    $positionClass = 'toast-bottom-right';
                } else {
                    $positionClass = 'toast-' + $position;
                }

                toastr.remove();
                toastr.options.closeButton = true;
                toastr[$context]($message, '', {
                    positionClass: $positionClass
                });
            }
        });
    </script>
}